In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('imdb_data_cleaned.csv')

In [4]:
### Create a new feature called Rating_cat
def rating(rating):
    if rating >= 7.5:
        return 'Excellent'

    elif rating >= 6.0:
        return 'Good'
    else:
        return 'average'

In [5]:
df['Rating_cat'] = df["Rating"].apply(rating)

In [6]:
df['Genre']

0       Action,Adventure,Sci-Fi
1      Adventure,Mystery,Sci-Fi
2               Horror,Thriller
3       Animation,Comedy,Family
4      Action,Adventure,Fantasy
                 ...
833     Action,Adventure,Horror
834                      Comedy
835                      Horror
836         Drama,Music,Romance
837       Comedy,Family,Fantasy
Name: Genre, Length: 838, dtype: object

In [7]:
glist = []
for value in df['Genre']:
    glist.append(value.split(','))

In [8]:
genre_list = []

for item in glist:
    for item1 in item:
        if item1 not in genre_list:
            genre_list.append(item1)

In [9]:
genre_list

['Action',
 'Adventure',
 'Sci-Fi',
 'Mystery',
 'Horror',
 'Thriller',
 'Animation',
 'Comedy',
 'Family',
 'Fantasy',
 'Drama',
 'Music',
 'Biography',
 'Romance',
 'History',
 'Western',
 'Crime',
 'War',
 'Musical',
 'Sport']

In [10]:
one_d = []

for item in glist:
    for item1 in item:
        one_d.append(item1)

In [11]:
from collections import Counter

In [12]:
Counter(one_d)

Counter({'Action': 277,
         'Adventure': 244,
         'Sci-Fi': 107,
         'Mystery': 86,
         'Horror': 87,
         'Thriller': 148,
         'Animation': 45,
         'Comedy': 250,
         'Family': 48,
         'Fantasy': 92,
         'Drama': 419,
         'Music': 15,
         'Biography': 67,
         'Romance': 120,
         'History': 25,
         'Western': 4,
         'Crime': 126,
         'War': 10,
         'Musical': 5,
         'Sport': 15})

In [13]:
def create_genre_columns(df, genre_column, genre_list):
    # Create new columns for each genre in the list
    for genre in genre_list:
        df[genre] = 0
    
    # Loop through the rows of the DataFrame
    for index, row in df.iterrows():
        # Split the 'Genre' column into a list of genres
        genres = row[genre_column].split(',')
        
        # Loop through the genres
        for genre in genres:
            # If the genre is in the list, set the corresponding column value to 1
            if genre in genre_list:
                df.at[index, genre] = 1

In [14]:
create_genre_columns(df, 'Genre', genre_list)

In [15]:
df = pd.get_dummies(df, columns=['Director', 'Rating_cat'])

In [16]:
df_new = df.drop(['Title', 'Genre', 'Description', 'Actors'], axis = 1)

In [17]:
df_new.head()

,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Action,Adventure,Sci-Fi,Mystery,...,Director_William Brent Bell,Director_Woody Allen,Director_Xavier Dolan,Director_Yimou Zhang,Director_Yorgos Lanthimos,Director_Zack Snyder,Director_Zackary Adler,Rating_cat_Excellent,Rating_cat_Good,Rating_cat_average
0,2014,121.0,8.1,585792.75,271.04875,76.0,1,1,1,0,...,0,0,0,0,0,0,0,1,0,0
1,2012,124.0,7.0,485820.00,126.46000,65.0,0,1,1,1,...,0,0,0,0,0,0,0,0,1,0
2,2016,117.0,7.3,157606.00,138.12000,62.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,2016,108.0,7.2,60545.00,270.32000,59.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2016,123.0,6.2,393727.00,271.04875,40.0,1,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [18]:
df_new.to_csv('imdb_numeric_format.csv', index=False)